<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieFlix - Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body> 
    <!--Navbar-->
  <nav class="navbar navbar-expand-md navbar-light bg-warning">
    <a class="navbar-brand" href='/'>
      MovieFlix
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link active" href="/admin">Admin Dashboard <span class="sr-only">(current)</span></a>
        <a class="btn btn-danger" id="btnLogout" href="api/logout">Logout</a>
        <button class="btn btn-secondary" id="btnDelte" href="api/user/delete">Delete Account</button>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="row">
          <div class="col p-3">
              <div class="bg-light rounded p-2">
                    <h3>Προσθηκη/Ενημέρωση ταινίας</h3>
                    <!--TODO Change to a form with all the fields-->
                    <span class="mb-2">Εάν θέλετε να αλλάξετε τον τίτλο της ταινίας βάλτε στο πεδίο Νέος τίτλος ταινίας τον νέο τίτλο</span></br>
                    <label for="title">Νέος τίτλος ταινίας <span class="text-danger">(ΜΟΝΟ για ενημέρωση)</span></label>
                    <input class="form-control" type="text" id="mοtitle" name="mοtitle" value="">
                    <label for="title">Τίτλος ταινίας</label>
                    <input class="form-control" type="text" id="mtitle" name="mtitle" value="">
                    <label for="title">Έτος κυκλοφορίας</label>
                    <input class="form-control" type="text" id="myear" name="myear" value="">
                    <label for="title">Πλοκή</label>
                    <input class="form-control" type="text" id="mdesc" name="mdesc" value="">
                    <label for="title">Πρωταγωνιστές</label>
                    <input class="form-control" type="text" id="mactors" name="mactors" value="" placeholder='π.χ. "Chris Evans", "Channing Tatum", ...'>
                    <button class="btn btn-primary mt-2" id="btnMovieAdd">Προσθήκη</button>
                    <button class="btn btn-warning mt-2" id="btnMovieUpdate">Ενημέρωση</button>
              </div>
          </div>
      </div>
      <div class="row">
            <div class="col p-3">
                <div class="bg-light rounded p-2">
                    <h3>Διαγραφή ταινίας</h3>
                        <label for="title">Τίτλος ταινίας</label>
                        <input class="form-control" type="text" id="title" name="title" value="">
                        <button class="btn btn-danger mt-2" id="btnMovieDelete">Διαγραφή</button>
                </div>
            </div>
      </div>
      <div class="row">
        <div class="col p-3">
            <div class="bg-light rounded p-2">
                <h3>Διαγραφή σχολιου χρήστη</h3>
                <label for="title1">Τίτλος ταινίας</label>
                <input class="form-control" type="text" id="title1" name="title1" value="">
                <label for="email">Email χρήστη</label>
                <input class="form-control" type="text" id="email" name="email" value="">
                <button class="btn btn-danger mt-2" id="btnCommentDelete">Διαγραφή</button>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col p-3">
            <div class="bg-light rounded p-2">
                <h3>Διαχείρηση χρηστών</h3>
                <label for="email1">Email χρήστη</label>
                <input class="form-control" type="text" id="email1" name="email1" value="">
                <button class="btn btn-danger mt-2" id="btnUserDelete">Διαγραφή χρήστη</button>
                <button class="btn btn-warning mt-2" id="btnUserElevate">Αλλαγή κατηγορίας (admin)</button>
            </div>
        </div>
      </div>
    </div>
</body>

<script>
$(function(){
    //Add movie
    $("#btnMovieAdd").click(function(){
        var data = '{';
        var title = $('#mtitle').val();
        var year = $('#myear').val();
        var desc = $('#mdesc').val();
        var actors = $('#mactors').val();
        var first = true;
        if(title != ''){
            first = false;
            data += '"title": "'+title+'"';
        }
        if(year != ''){
            if(!first){
                data +=',';
            }
            else{
                first = false;
            }
            data += '"year": "'+year+'"';
        }
        if(desc != ''){
            if(!first){
                data +=',';
            }
            else{
                first = false;
            }
            data += '"description": "'+desc+'"';
        }
        if(actors != ''){
            if(!first){
                data +=',';
            }
            else{
                first = false;
            }
            data += '"actors": ['+actors+']';
        }
        data += '}';
        var mydata = JSON.parse(data);
        $.ajax({
            url: "/api/admin/add_movie",
            data: {data: JSON.stringify(mydata)},
            type: "POST",
            dataType: "json",       
            success:function(data, xhr){
                alert('Movie added!');
            },
            error:function (request, status){
                console.log(request);
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
    //Update movie
    $("#btnMovieUpdate").click(function(){
        var data = '{"current-title": "'+$('#mtitle').val()+'"';
        var title = $('#mοtitle').val();
        var year = $('#myear').val();
        var desc = $('#mdesc').val();
        var actors = $('#mactors').val();

        if(title != ''){
            data += ',"title": "'+title+'"';
        }
        if(year != ''){
            data += ',"year": "'+year+'"';
        }
        if(desc != ''){
            data += ',"description": "'+desc+'"';
        }
        if(actors != ''){
            data += ',"actors": ['+actors+']';
        }
        data += '}';
        console.log(data);
        var mydata = JSON.parse(data);
        $.ajax({
            url: "/api/admin/update_movie",
            data: {data: JSON.stringify(mydata)},
            type: "UPDATE",
            dataType: "json",       
            success:function(data, xhr){
                alert('Movie updated!');
            },
            error:function (request, status){
                console.log(request);
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
    //Delete a movie
    $("#btnMovieDelete").click(function(){
        $.ajax({
            url: "/api/admin/delete_movie",
            data:{title: $("#title").val()},
            type: "DELETE",
            dataType: "json",       
            success:function(data, xhr){
                alert('Movie deleted!');
            },
            error:function (request, status){
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
    //Delete a user comment
    $("#btnCommentDelete").click(function(){
        $.ajax({
            url: "/api/admin/delete_comment",
            data:{title: $("#title1").val(), email: $("#email").val()},
            type: "DELETE",
            dataType: "json",       
            success:function(data, xhr){
                alert('Comment Deleted!');
            },
            error:function (request, status){
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
    //Elevate a user
    $("#btnUserElevate").click(function(){
        $.ajax({
            url: "/api/admin/change_category",
            data:{email: $("#email1").val()},
            type: "UPDATE",
            dataType: "json",       
            success:function(data, xhr){
                alert('User is now an admin!');
            },
            error:function (request, status){
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
    //Delete a user
    $("#btnUserDelete").click(function(){
        $.ajax({
            url: "/api/admin/delete_user",
            data:{email: $("#email1").val()},
            type: "DELETE",
            dataType: "json",       
            success:function(data, xhr){
                alert('User Deleted!');
            },
            error:function (request, status){
                alert("Error: "+request.responseJSON.info);
            }
        });
    });
});
</script>

</html>